body {
    background-color: #fff;
}
h1 {
    font-size: 48px;
    font-family: 'Playfair Display'
}

p {
    font-family: 'Montserrat'
}

h2 {
    font-family: 'Playfair Display';
    font-size: 24px
}

.grid-container {
    display: grid;
    margin: 5% 15%;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-areas: "header header header""content content card""footer footer footer";
    gap: 100px
}

.grid-items {
    width: 100%
}

.header {
    grid-area: header
}

.header-content>p {
    font-size: 14px;
    color: #4f4f4f;
    font-style: italic
}

.header-content {
    display: flex
}

.header-content>img {
    padding-right: 20px;
    position: relative;
    bottom: 20px
}

.header-content>p {
    width: 52%
}

img.photo {
    width: 100%
}

.content {
    grid-area: content;
    width: 60%
}

p.content-title {
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 18px
}

.content-items {
    display: flex
}

.content-items>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px
}

.box {
    border: 2px solid #797979;
    border-radius: 3px;
    padding: 0 8px;
    margin-right: 20px;
    box-shadow: 2px 2px 8px rgba(81, 81, 81, .2);
    position: relative;
    top: 20px
}

.box2 {
    background-color: rgb(255, 151, 46);
    padding: 0 10px 10px;
    border-radius: 5px;
    position: relative;
    top: 10px;
    margin-right: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 700
}

p.source {
    font-size: 18px;
    font-style: italic;
    color: #bdbdbd
}

.card {
    grid-area: card;
    background-color: #fff;
    width: 216px;
    height: 367px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .1)
}

.card-content {
    display: flex;
    margin-top: 20px
}

i {
    padding: 0 20px 0 40px;
    position: relative;
    top: 20px;
    color: #4f4f4f
}

.card-content .active {
    color: rgb(255, 151, 46)
}

.card-content p {
    font-size: 14px
}

p.card-items {
    font-size: 10px;
    color: #bdbdbd;
    text-transform: uppercase
}

.footer {
    grid-area: footer;
    justify-content: center;
    text-align: center;
    color: #bdbdbd
}

.footer a {
    text-decoration: none;
    color: #bdbdbd;
}

@media screen and (max-width:600px) {
    .grid-container {
        display: grid;
        margin: 10px 10px;
        grid-template-columns: 1fr, 1fr, 1fr;
        grid-template-areas: "header header header ""card card card""content content content ""footer footer footer";
        gap: 20px
    }

    .card {
        display: grid;
        width: 100%;
        height: 100px;
        margin-bottom: 80px;
        box-shadow: none;
        border-radius: 0;
        grid-template-columns: 20px, 20px, 20px;
        grid-template-areas: "a a a""b c d"
    }

    .a {
        grid-area: a
    }

    .b {
        grid-area: b
    }

    .c {
        grid-area: c
    }

    h1 {
        font-size: 24px
    }

    .header-content>p {
        font-size: 12px;
        width: 80%
    }

    .content {
        width: 100%
    }

    .card-content {
        font-size: 10px
    }

    i {
        padding-left: 0
    }

    p.source {
        font-size: 12px
    }
}

@media screen and (max-width:1440px) {
    .content {
        width: 100%
    }
}